{% extends 'layout.html' %}

{% block content %}

    <div class="container mt-4 py-4">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button class="btn btn-sm btn-primary" onclick="window.history.back();" title="Correggi"><i class="far fa-edit mr-2"></i>Correggi</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button class="btn btn-sm btn-primary" onclick="showPDF()" title="Visualizza PDF"><i class="far fa-file-pdf mr-2"></i>PDF</button>
            </div>
        </div>
    </div>

    <div class="container" id="declaration">
        <div class="text-center mb-4">
            <h3>
                AUTODICHIARAZIONE AI SENSI DEGLI ARTT. 46 E 47 D.P.R. N. 445/2000
            </h3>
        </div>

        <div class="text-left">
            Il sottoscritto {{ name | default("_____________") }} <br>
            nato il {{ bdate | default("_____________") }} a {{ bplace |default("_____________") }} ({{ bprovince |default("__") }}), <br>
            residente in {{ rplace|default("____________") }} ({{ rprovince|default("__") }}), via {{ raddress|default("_____________") }} <br>
            e domiciliato in {{ dplace|default("_____________") }} ({{ dprovince|default("__") }}), via {{ daddress|default("___________________") }}, <br>
            identificato a mezzo {{ document_type|default("_______________") }} nr {{ document_nr|default("____________________") }}, <br>
            rilasciato da {{ document_released_by|default("____________________") }} in data {{ doc_released_date|default("____________") }}, <br>
            utenza telefonica {{ phone_nr|default("____________________") }}, <br>
            consapevole delle conseguenze penali previste in caso di dichiarazioni mendaci a pubblico ufficiale <b>(art. 495 c.p.)</b><br>
        </div>

        <h5 class="text-center mt-4 mb-4">
            DICHIARA SOTTO LA PROPRIA RESPONSABILITÀ
        </h5>

        <div class="text-left">
            <ul>
                <li>
                    <b>
                        <ins>di non essere sottoposto alla misura della quarantena ovvero di non essere risultato positivo al COVID-19</ins>
                    </b>
                    (<i>fatti salvi gli spostamenti disposti dalle Autorità sanitarie</i>);
                </li>
                <li>
                    <b>che lo spostamento è iniziato da</b> {{ out_origin }} <b>con destinazione </b>{{ out_destination }}
                </li>
                <li>
                    <b>
                        <ins>di essere a conoscenza delle misure di contenimento del contagio vigenti alla data odierna</ins>
                        ed adottate ai sensi <br>
                        degli artt. 1 e 2 del decreto legge 25 marzo 2020, n.19,
                        <ins>concernenti le limitazioni alle possibilità di spostamento</ins>
                        <br>
                        delle persone fisiche all'interno di tutto il territorio nazionale;
                    </b>
                </li>
                <li>
                    <b>
                        <ins>di essere a conoscenza delle ulteriori limitazioni disposte con provvedimenti</ins>
                        <br>
                        del Presidente delle Regione</b> {{ region_from | default("______________") }} <br>
                    <b>e del Presidente della Regione </b> {{ region_to | default("______________") }} <br>
                    <b>e che lo spostamento rientra in uno dei casi consentiti dai <br>medesimi provvedimenti </b>{{ provvedimento_type }} ;
                </li>
                <li>
                    <b>
                        <ins>di essere a conoscenza delle sanzioni previste dall'art. 4 del decreto legge 25 marzo 2020, n. 19;</ins>
                    </b>
                </li>
                <li><b>che lo spostamento è determinato da:</b><br>
                    {{ out_motivation | default("situazione di necessità") }}</li>
            </ul>
        </div>

        <div class="text-left mt-4 mb-4">
            A questo riguardo, dichiara che: <br>{{ declaration | default("nulla da dichiarare") }}
        </div>

        <div class="text-left mt-4 mb-4 py-4">
            __________________________________<br>
            <p>Data, ora e luogo del controllo</p>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-left">
                        Firma del dichiarante
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="text-right">
                        L'operatore di Polizia
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const element = document.getElementById("declaration");

        function showPDF() {
            html2pdf().from(element).toPdf().get('pdf').then(function (pdf) {
                window.open(pdf.output('bloburl'), '_blank');
            });
        }
    </script>
{% endblock %}