{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron">
        <h2 class="display-6">Autodichiarazione COVID-19</h2>
        <p>
            <i class="fa fa-bullhorn mr-2"></i>Modello autodichiarazione:
            <a href="https://www.interno.gov.it/sites/default/files/allegati/nuovo_modello_autodichiarazione_26.03.2020_editabile.pdf" target="_blank">26 Marzo 2020</a>
        </p>
        <div class="alert alert-danger" role="alert">
            <strong>Attenzione:</strong>
            Stampare su carta il foglio A4 generato
            <a href="https://www.interno.gov.it/it/notizie/solo-cartaceo-no-app-modello-autodichiarazione" target="_blank">
                (solo la dichiarazione cartacea garantisce completa conformità alle normative del ministero degli interni)
            </a>
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Nota:</strong> I dati personali non vengono salvati
        </div>
    </div>

    <main role="main" class="container">
        <form id="userForm" action="/generate_pdf" method="post">
            <h3>Dati Anagrafici</h3>

            <div class="form-row">
                <div class="col-md-4 mb-2">
                    <label for="validazioneNome">Il sottoscritto</label>
                    <input type="text" class="form-control" id="validazioneNome" name="name" placeholder="es. Mario Rossi">
                </div>
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label class="control-label">Nato il</label>
                        <div class="input-group date" data-target-input="nearest">
                            <label for="birthdate"></label>
                            <input type="text" pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)" inputmode="numeric"
                                   data-target="#birthdate" class="form-control datetimepicker-input" id="birthdate" name="bdate"
                                   placeholder="es. 01/12/1949" maxlength="10">
                            <div class="input-group-append" data-target="#birthdate" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <small id="birthdateHelp" class="form-text text-muted">gg/mm/aaaa</small>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <label for="validazioneLuogoNascita">a</label>
                    <input type="text" class="form-control" id="validazioneLuogoNascita" name="bplace" placeholder="es. Catania">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="validazioneProvinciaNascita">Provincia</label>
                    <input type="text" class="form-control" id="validazioneProvinciaNascita" name="bprovince" placeholder="es. CT">
                </div>
            </div>

            <!-- Residenza form -->
            <div class="form-row">
                <div class="col-md-4 mb-2">
                    <label for="validazioneResidenza">Residente in</label>
                    <input type="text" class="form-control" id="validazioneResidenza" name="rplace" placeholder="es. Catania">
                </div>
                <div class="col-md-4 mb-2">
                    <label for="validazioneIndirizzoResidenza">Indirizzo</label>
                    <input type="text" class="form-control" id="validazioneIndirizzoResidenza" name="raddress" placeholder="es. Via Cavour, 8">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="validazioneProvinciaResidenza">Provincia</label>
                    <input type="text" class="form-control" id="validazioneProvinciaResidenza" name="rprovince" placeholder="es. CT">
                </div>

                <div class="col-md-2 mb-2">
                    <label for="validazioneTel">Telefono</label>
                    <input type="text" class="form-control" id="validazioneTel" name="phone_nr" placeholder="es. 01 123 456" inputmode="numeric">
                </div>
            </div>
            <!--  -->


            <!-- Domicilio -->
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" value="" id="checkboxResidenza">
                <label class="form-check-label" for="checkboxResidenza">
                    Domicilio uguale a residenza
                </label>
                <small id="checkboxResidenzaHelp" class="form-text text-muted">Seleziona per copiare dati residenza</small>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-2">
                    <label for="validazioneDomicilio">Domiciliato in</label>
                    <input type="text" class="form-control" id="validazioneDomicilio" name="dplace">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="validazioneIndirizzoDomicilio">Indirizzo</label>
                    <input type="text" class="form-control" id="validazioneIndirizzoDomicilio" name="daddress">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="validazioneProvinciaDomicilio">Provincia</label>
                    <input type="text" class="form-control" id="validazioneProvinciaDomicilio" name="dprovince">
                </div>
            </div>
            <!-- -->

            <!-- Documento -->
            <div class="form-row">
                <div class="col-md-3 mb-2">
                    <label for="validazioneTipoDocumento">Idenfitificato a mezzo</label>
                    <select class="form-control" id="validazioneTipoDocumento" name="document_type">
                        <option>Carta d'identità</option>
                        <option>Patente di guida</option>
                        <option>Passaporto</option>
                    </select>
                </div>

                <div class="col-md-3 mb-2">
                    <label for="validazioneNrDoc">nr.</label>
                    <input type="text" class="form-control" id="validazioneNrDoc" name="document_nr" placeholder="es. AB012345">
                </div>

                <div class="col-md-3 mb-2">
                    <label for="validazioneEnteRilascio">Rilasciato da</label>
                    <input type="text" class="form-control" id="validazioneEnteRilascio" name="document_released_by" placeholder="es. Prefettura">
                </div>

                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label class="control-label">In data</label>
                        <div class="input-group date" data-target-input="nearest">
                            <label for="id_release_date"></label>
                            <input type="text" pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)" inputmode="numeric"
                                   data-target="#id_release_date" class="form-control datetimepicker-input" id="id_release_date" name="doc_released_date"
                                   placeholder="es. 01/01/2010" maxlength="10">
                            <div class="input-group-append" data-target="#id_release_date" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                        <small id="docReleaseDateHelp" class="form-text text-muted">gg/mm/aaaa</small>
                    </div>
                </div>
            </div>

            <hr>
            <h3>Dettagli dichiarazione</h3>

            <div class="form-row">
                <div class="col-md-6 mb-2">
                    <label for="validazioneOrigineSpostamento">Orgine spostamento</label>
                    <input type="text" class="form-control" id="validazioneOrigineSpostamento" name="out_origin" placeholder="es. Via Leopardi, 3, Catania">
                </div>
                <div class="col-md-6 mb-2">
                    <label for="validazioneDestinazioneSpostamento">Destinazione</label>
                    <input type="text" class="form-control" id="validazioneDestinazioneSpostamento" name="out_destination" placeholder="es. Via Roma, 1, Siracusa">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-2">
                    <label for="validazioneRegioneOrigine">Regione di partenza</label>
                    <select class="form-control" id="validazioneRegioneOrigine" name="region_from">
                    <option></option>
                        {% for region in regions %}
                            <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="validazioneRegioneDestinazione">Regione di destinazione</label>
                    <select class="form-control" id="validazioneRegioneDestinazione" name="region_to">
                        <option></option>
                        {% for region in regions %}
                            <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4 mb-2">
                    <label for="tipoProvvedimento">Tipo di provvedimento</label>
                    <input type="text" class="form-control" id="tipoProvvedimento" name="provvedimento_type">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-2">
                    <label for="validazioneMotivazioneSpostamento">Spostamento determinato da</label>
                    <select class="form-control" id="validazioneMotivazioneSpostamento" name="out_motivation">
                        <option>comprovate esigenze lavorative</option>
                        <option>assoluta urgenza (per trasferimenti in comune diverso)</option>
                        <option>situazione di necessità</option>
                        <option>motivi di salute</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-2">
                    <div class="form-group">
                        <label for="dichiarazione">A riguardo dichiara che:</label>
                        <textarea class="form-control" id="dichiarazione" name="declaration" rows="3"></textarea>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="genPDFButton" type="submit">
                <i class="far fa-file-pdf mr-2"></i>Genera PDF
            </button>
            <button class="btn btn-primary" type="button" id="loader" hidden>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            </button>

        </form>
    </main>

    <hr>
    <footer class="footer text-center mb-4">
        <div class="container">
            <small>
            <span class="text-muted">
                <a href="https://github.com/fabriziomiano/autodichiarazione-automatica" target="_blank"><i class="fab fa-github mr-1"></i>Github</a>
            </span>
            </small>
        </div>
    </footer>
{% endblock %}
