{% extends 'layout.html' %}

{% block content %}

    <div class="jumbotron">
        <h2 class="display-6">Autodichiarazione COVID-19</h2>
        <p>
            <i class="fa fa-bullhorn mr-2"></i>Modello autodichiarazione:
            <a href="https://www.interno.gov.it/sites/default/files/allegati/nuovo_modello_autodichiarazione_editabile_maggio_2020.pdf" target="_blank">4 maggio 2020</a>
        </p>
        <div class="alert alert-danger" role="alert">
            <strong>Attenzione:</strong>
            Stampare su carta il foglio A4 generato
            <a href="https://www.interno.gov.it/it/notizie/solo-cartaceo-no-app-modello-autodichiarazione" target="_blank">
                (solo la dichiarazione cartacea garantisce completa conformità alle normative del ministero degli interni)
            </a>
        </div>
        <div class="alert alert-warning" role="alert">
            <strong>Nota:</strong> I dati personali non vengono salvati sui server
        </div>
    </div>

    <main role="main" class="container">
        <form id="userForm" action="/generate" method="post">

            <div class="container" id="personalDataSummary" hidden>
                <h3 id="greetingsHeader"></h3>
                <div class="row">
                    <div class="span6 mr-2">
                        <button type="button" id="showPersonalDataBtn" class="btn btn-sm btn-primary" onclick="showPersonalData()">
                            <i class="far fa-edit mr-2"></i>Modifica dati
                        </button>
                    </div>
                    <div class="span6 mr-2">
                        <button type="button" id="deletePersonalDataBtn" class="btn btn-sm btn-danger" onclick="deletePersonalData()">
                            <i class="far fa-trash-alt mr-2"></i>Elimina dati
                        </button>
                    </div>
                </div>
                <hr>
            </div>

            <div class="container" id="personalData">
                <h3>Dati Anagrafici</h3>

                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <label for="name">Il sottoscritto</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="es. Mario Rossi" autofocus>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label class="control-label">Nato il</label>
                            <div class="input-group date" data-target-input="nearest">
                                <label for="birthdate"></label>
                                <input type="text" pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)"
                                       data-target="#birthdate" class="form-control datetimepicker-input" id="birthdate" name="bdate"
                                       placeholder="es. 01/12/1949" maxlength="10">
                                <div class="input-group-append" data-target="#birthdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <small id="birthdateHelp" class="form-text text-muted">gg/mm/aaaa</small>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label for="bplace">a</label>
                        <input type="text" class="form-control" id="bplace" name="bplace" placeholder="es. Catania">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="bprovince">Provincia</label>
                        <input type="text" class="form-control" id="bprovince" name="bprovince" placeholder="es. CT">
                    </div>
                </div>

                <!-- Residenza form -->
                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <label for="rplace">Residente in</label>
                        <input type="text" class="form-control" id="rplace" name="rplace" placeholder="es. Catania">
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="raddress">Indirizzo</label>
                        <input type="text" class="form-control" id="raddress" name="raddress" placeholder="es. Via Cavour, 8">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="rprovince">Provincia</label>
                        <input type="text" class="form-control" id="rprovince" name="rprovince" placeholder="es. CT">
                    </div>

                    <div class="col-md-2 mb-2">
                        <label for="phone_nr">Telefono</label>
                        <input type="text" class="form-control" id="phone_nr" name="phone_nr" placeholder="es. 01 123 456" inputmode="numeric">
                    </div>
                </div>
                <!--  -->


                <!-- Domicilio -->
                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="checkboxResidenza">
                    <label class="form-check-label" for="checkboxResidenza">
                        Domicilio uguale a residenza
                    </label>
                    <small id="checkboxResidenzaHelp" class="form-text text-muted">Seleziona per copiare dati residenza</small>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <label for="dplace">Domiciliato in</label>
                        <input type="text" class="form-control" id="dplace" name="dplace">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="daddress">Indirizzo</label>
                        <input type="text" class="form-control" id="daddress" name="daddress">
                    </div>
                    <div class="col-md-2 mb-2">
                        <label for="dprovince">Provincia</label>
                        <input type="text" class="form-control" id="dprovince" name="dprovince">
                    </div>
                </div>
                <!-- -->

                <!-- Documento -->
                <div class="form-row">
                    <div class="col-md-3 mb-2">
                        <label for="document_type">Idenfitificato a mezzo</label>
                        <select class="form-control" id="document_type" name="document_type">
                            <option>Carta d'identità</option>
                            <option>Patente di guida</option>
                            <option>Passaporto</option>
                        </select>
                    </div>

                    <div class="col-md-3 mb-2">
                        <label for="document_nr">nr.</label>
                        <input type="text" class="form-control" id="document_nr" name="document_nr" placeholder="es. AB012345">
                    </div>

                    <div class="col-md-3 mb-2">
                        <label for="document_released_by">Rilasciato da</label>
                        <input type="text" class="form-control" id="document_released_by" name="document_released_by" placeholder="es. Prefettura">
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label class="control-label">In data</label>
                            <div class="input-group date" data-target-input="nearest">
                                <label for="id_release_date"></label>
                                <input type="text" pattern="^([0][1-9]|[1-2][0-9]|30|31)\/([0][1-9]|10|11|12)\/(19[0-9][0-9]|20[0-1][0-9]|2020)"
                                       data-target="#docReleaseDate" class="form-control datetimepicker-input" id="docReleaseDate" name="doc_released_date"
                                       placeholder="es. 01/01/2010" maxlength="10">
                                <div class="input-group-append" data-target="#docReleaseDate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                            <small id="docReleaseDateHelp" class="form-text text-muted">gg/mm/aaaa</small>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="container" id="declarationDetails">
                <h3>Dettagli dichiarazione</h3>

                <div class="form-row">
                    <div class="col-md-6 mb-2">
                        <label for="out_origin">Orgine spostamento</label>
                        <input type="text" class="form-control" id="out_origin" name="out_origin" placeholder="es. Via Leopardi, 3, Catania">
                    </div>
                    <div class="col-md-6 mb-2">
                        <label for="out_destination">Destinazione</label>
                        <input type="text" class="form-control" id="out_destination" name="out_destination" placeholder="es. Via Roma, 1, Siracusa">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <label for="region_from">Regione di partenza</label>
                        <select class="form-control" id="region_from" name="region_from">
                            <option></option>
                            {% for region in regions %}
                                <option value="{{ region }}">{{ region }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-2">
                        <label for="region_to">Regione di destinazione</label>
                        <select class="form-control" id="region_to" name="region_to">
                            <option></option>
                            {% for region in regions %}
                                <option value="{{ region }}">{{ region }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4 mb-2">
                        <label for="provvedimento_type">Tipo di provvedimento</label>
                        <input type="text" class="form-control" id="provvedimento_type" name="provvedimento_type">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <label for="out_motivation">Spostamento determinato da</label>
                        <select class="form-control" id="out_motivation" name="out_motivation">
                            <option value="0">comprovate esigenze lavorative</option>
                            <option value="1">assoluta urgenza (per trasferimenti in comune diverso)</option>
                            <option value="2">situazione di necessità</option>
                            <option value="3">motivi di salute</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label for="declaration">A riguardo dichiara che:</label>
                            <textarea class="form-control" id="declaration" name="declaration" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" id="genPDFButton" type="submit">
                <i class="far fa-file-pdf mr-2"></i>Genera PDF
            </button>
            <button class="btn btn-primary" type="button" id="loader" hidden>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only">Loading...</span>
            </button>
        </form>

        <div class="container">
            <div class="row">
                <div class="span6 mr-2">
                    <form class="form-inline" id="editPDFForm" method="post">
                        <button class="btn btn-sm btn-danger" id="editPDFButton" type="submit" hidden onclick="toggleEditFormButton()">
                            <i class="far fa-trash-alt mr-2"></i>Elimina PDF
                        </button>
                    </form>
                </div>
                <div class="span6">
                    <form class="form-inline" id="seePDFForm" method="get" action="">
                        <button class="btn btn-sm btn-success" id="seePDFButton" type="submit" hidden onclick="toggleVisualizePDFButton()">
                            <i class="far fa-file-pdf mr-2"></i>Visualizza PDF
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <hr>
    <footer class="footer text-center mb-4">
        <div class="container">
            <small>
            <span class="text-muted">
                <a href="https://github.com/fabriziomiano/autodichiarazione-automatica" target="_blank"><i class="fab fa-github mr-1"></i>Github</a>
            </span>
            </small>
        </div>
    </footer>
{% endblock %}
